<div class="container">
  <h5>管理者ログイン</h5>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2 ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.label :メールアドレス %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-10">
      <%= f.email_field :email, size: 45, autofocus: true, placeholder: "sample@example.com" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-2 ">
      <%= f.label :パスワード %>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-10">
      <%= f.password_field :password, size: 45, autocomplete: "current-password" %>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-2 ">
      </div>
      <div class="col-sm-12 col-md-8 col-lg-10">
        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-sm btn-primary' %>
        </div>
      </div>
    <% end %>
  </div>

</div>