<div class="container">
  <h5><span><%= @customer.full_name %>さんの会員情報編集</span></h5>

<%= form_with model: @customer, url:"/admin/customers/#{@customer.id}", local: true do |f| %>
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :会員ID %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= @customer.id %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :氏名 %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= f.text_field :last_name, autofocus: true %>
      <%= f.text_field :first_name, autofocus: true %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :フリガナ %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= f.text_field :last_name_kana, autofocus: true %>
      <%= f.text_field :first_name_kana, autofocus: true %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :postal_code, "郵便番号" %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= f.text_field :postal_code, autofocus: true %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :telephone_number, "電話番号" %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= f.text_field :telephone_number, autofocus: true %>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= f.text_field :email, autofocus: true %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-3">
      <%= f.label :会員ステータス %>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-9">
      <%= f.radio_button :is_active, true %>
      <%= f.label :is_active, '有効', value: true %>
      <%= f.radio_button :is_active, false %>
      <%= f.label :is_active, '退会', value: false %>
    </div>
  </div>
  
  <div>
    <%= f.submit "変更を保存", class: "btn btn-outline-success btn-sm" %>
  </div>
<% end %>

</div>