<div class="container">
  <h2>注文履歴詳細</h2>
    <div class="row">
      <div class="col-md-2">
        <h3>購入者</h3>
        <h3>注文日</h3>
        <h3>配送先</h3>
        <h3>支払方法</h3>
        <h3>注文ステータス</h3>
      </div>
      <div class="col-md-10">
        <h3><%= @order.customer.full_name %></h3>
        <h3><%= @order.created_at %></h3>
        <h3><%= @order.postal_code %><%= @customer.address %></h3>
        <h3><%= @order.payment_method_i18n %></h3>
        <% form_with model: @order, url: "/admin/orders/#{@order.id}" do |f| %>
        <h3><%= f.select :status, Order.statuses_i18n.keys.map {|k| [I18n.t("enum.order.status.#{k}"), k]} %></h3> 
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>製作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @order_details.each do |p| %>
            <tr>
              <td><%= p.item.name</td>
              <td><%= p.price.to_s(:delimited) %></td>
              <td><%= p.amount %></td>
              <td><%= p.price * p.amount.to_s(:delimited) %></td>
              <% form_with p, url: "admin/order_details/#{p.id}" do |f| %>
              <td><%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map {|k| [I18n.t("enum.orderdetail.status.#{k}"), k]} %></td>
              <td><%= f.submit '更新', class: "btn btn-primary" %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-2">
        <h3>商品合計</h3>
        <h3>送料</h3>
        <h3>請求金額合計</h3>
      </div>
      <div class="col-md-2">
        <h3><%= @order.total_payment - @order.shipping_cost %>円</h3>
        <h3><%= @order.shipping_cost %>円</h3>
        <h3><%= @order.total_payment %>円</h3>
      </div>
    </div>
</div>
